doctype html
html
    head
        //-<meta charset="utf-8>
        meta(charset="utf-8")
        script(src="/build/combined.js")
        //-<title>NameOfTitle</title>
        //-server.js->pageTitle
        title=pageTitle


    body
        button Text1234